.champ{
    margin-bottom: 10px;
}
.conteneur {overflow:hidden;}

.colp {width:50%; float:left; display:inline}

html {
    background-color: #283593;
}

body {
    font-size: 13px;
    background-color: white;
    width: 1300px;
    margin : 20px auto;
    padding: 10px;
}

h1{
    font-size:25px;
    color: royalblue;
    font-family: "Arial";
    margin-top: 60px
}
h2{
    font-size:15px;
    color: deepskyblue;
    text-align: ;
    font-family: "Arial";
}

table{
    border-color: deepskyblue;
    border-collapse:collapse
}
hr{
    margin-top:60px
}

section{
    margin: 10px auto
}
.container{
    display:flex;
]

#col1{
 width:50%;
}

#col2{
  width:50%;
  margin-left:15%
}
