.champ{
    margin-bottom: 10px;
}
.conteneur {overflow:hidden;}

.colp {width:50%; float:left; display:inline}

html {
    background-color: #283593;
}

body {
    font-size: 13px;
    background-color: white;
    width: 1100px;
    margin : 20px auto;
    padding: 10px;
}

h1{
    font-size:25px;
    color: black;
    font-family: "Arial";
}
h2{
    font-size:15px;
    color: black;
    text-align: ;
    font-family: "Arial";
}
